

/*------------------------------------------- Fonts --------------------------------------------------------------------------- */
@font-face {
    font-family: Dancing;
    src: url(/dist/assets/fonts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: Mondst;
    src: url(/dist/assets/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: redacted;
    src: url(/dist/assets/fonts/RedactedScript-Regular.ttf);
}
@font-face {
    font-family: marker;
    src: url(/dist/assets/fonts/PermanentMarker-Regular.ttf);
}
@font-face {
    font-family: texti;
    src: url(/dist/assets/fonts/EduNSWACTFoundation-VariableFont_wght.ttf);
}
/* ----------------------------------- Setting up the layout ------------------------------------------------------------------- */
body{
    margin: 0;
}
#mainContainer{
    background-image: url('/dist/assets/фон.png');
    background-size: cover;
    background-position: center;
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

/*-------------------------------------------- Navbar -------------------------------------------------------------------------- */

#navbar{
    width: 100%;
    left: 130px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    padding-top: 10px;
}
.navButton{
    font-size: 1.2rem;
    font-family: marker;
    text-shadow: 0 0 5px white;
    height: 1.8rem;
    border: none;
    color: rgb(136, 66, 12);
    background-color: rgba(0, 0, 0, 0);
}
.navButton :hover{
    color: white;
    text-shadow: 0 0 2px black;
    cursor: pointer;
    text-decoration: underline;
}

/*----------------------------- Main - content - stuff ------------------------------------------------------------------------- */

#innerContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0.53;
}

.content {
    position: relative;
    left: auto;
    height: 100vh;
    width: 75%;
     backdrop-filter: blur(0px);
     background-color: rgba(128, 128, 128, 0.0);
     border: 1px solid rgba(0, 0, 0, 0.164);
    flex: 0.7;
}
.food{
    padding: 10px;
    height: 200px;
    width: 200px;
}
.food:hover{
    rotate: 3deg;
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}
#innerContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* --------------------------- Menu items and their styling ------------------------------------------------------------------- */

.menuToggle{
    height: 50px;
    width: 100px;
}
.menuToggle:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 1s;
}
#menuTogglediv{
    display: flex;
    justify-content: space-between;
}

/* ------------------------- Main stuff from the - right side - of the screen -------------------------------------------------- */

#homeSide {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#h1{
    background-image: url(/dist/assets/welcome.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 35px;
    height: 100px;
    width: 250px;
}
.redacted{
    font-family: redacted;
    margin: 0;
}
#slogan{
    margin: 10px;
    font-size: 1.8rem;
    font-family: marker;
    color: rgb(136, 66, 12);
    text-shadow: 0 0 5px white;
}
#bigBut{
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175x;
    height: 70px;
}
#bigBut:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}

#logo{
    margin-top: 25px;
    max-width: 150px;
    height: 150px; 
    background-size: cover;
}
/* - Animation for the logo of the Cafe - */
@keyframes shake { 
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
#logo:hover{
    animation: shake 0.5s ease-in-out infinite;
}

/* --------------------------  About section  -----------------------------------------------------------------------------------*/
h1{
    font-family: texti;
    text-align: center;
    font-size: 2.8rem;
}
h2{
    text-align: center;
    margin-left: 20px;
    text-decoration: underline;
}
p{
    font-family: texti;
    font-size: 1.6rem;
    text-align: center;
}
ul{
    list-style: none;
}
ul img{
    height: 25px;
}
li:hover{
    text-decoration: underline;
    cursor: pointer;
    color: white;
}
#contactUs{
    margin: auto;
    font-family: texti;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    border-radius: 25px;
    border: 1px solid rgb(199, 97, 20); 
    background-color: rgb(243, 156, 89);
}

footer{
    width: 100%;
    height: 20px;
    margin: 0;
    bottom: auto;
    text-align: center;
    backdrop-filter: blur(5px);
    color: rgba(0, 0, 0, 0.623);
    background-color: rgba(128, 128, 128, 0.267);
}